<div class="container">
    <div class="card">
      <app-header></app-header>
      <div class="card-body">
        <p class="display-6 mb-3 fw-bolder">How it works</p>
        <p class="mb-0">
          No phone calls. No faxes. No navigating patient portals.
        </p>
        <p class="mb-0">
          PicinicHealth gather all of your medical records so you don't have to.
        </p>
        <div class="btn btn-primary">Let's Go</div>
        <div class="allbox-1">
          <div class="box-1"></div>
          <div class="box-2"></div>
        </div>
        <div class="allbox-2">
          <div class="box-1"></div>
          <div class="box-2"></div>
        </div>
        <div class="allbox-3">
          <div class="box-1"></div>
          <div class="box-2"></div>
        </div>
        <div class="box-3"></div>
        <div class="box-4"></div>
      </div>
      <div class="card-footer">
        <div class="row mb-5">
          <div class="col-lg-3">
            <div class="box active">
              <span class="icons fas fa-comment-dollar"></span>
              <p class="mt-3">Tell us about your care</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="box">
              <span class="icons fab fa-searchengin"></span>
              <p class="mt-3">We are track down all your records</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="box">
              <span class="icons fas fa-th-large"></span>
              <p class="mt-3">We organize your records</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="box">
              <span class="icons fas fa-route"></span>
              <p class="mt-3">You're in control of your timeline</p>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-7">
            <div class="d-flex flex-column">
              <div class="mb-3">
                <div>
                  <a
                    class="btn btn-primary p-2 w-100 h-100 d-flex align-items-center justify-content-between"
                    data-bs-toggle="collapse"
                    href="#collapse1"
                    role="button"
                    aria-expanded="true"
                    aria-controls="collapse1"
                  >
                    <span>We're committed to public good research</span>
                    <span class="fas fa-chevron-down"></span>
                  </a>
                </div>
                <div class="collapse show p-2 pt-0" id="collapse1">
                  <div class="">
                    <p class="mb-0">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Atque nihil neque quisquam aut repellendus, dicta vero?
                      Animi dicta cupiditate, facilis provident quibusdam ab quis,
                      iste harum ipsum hic, nemo qui! Lorem ipsum dolor sit amet
                      consectetur adipisicing elit. Facere, accusamus laudantium
                      optio architecto obcaecati soluta impedit, ad ex veniam
                      maiores dolorum blanditiis illum! Officia, similique sed
                      natus asperiores exercitationem eius?
                    </p>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <div>
                  <a
                    class="btn btn-primary p-2 w-100 h-100 d-flex align-items-center justify-content-between"
                    data-bs-toggle="collapse"
                    href="#collapse2"
                    role="button"
                    aria-expanded="true"
                    aria-controls="collapse2"
                  >
                    <span>We're committed to public good research</span>
                    <span class="fas fa-chevron-down"></span>
                  </a>
                </div>
                <div class="collapse p-2 pt-0" id="collapse2">
                  <div class="">
                    <p class="mb-0">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Atque nihil neque quisquam aut repellendus, dicta vero?
                      Animi dicta cupiditate, facilis provident quibusdam ab quis,
                      iste harum ipsum hic, nemo qui!
                    </p>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <div>
                  <a
                    class="btn btn-primary p-2 w-100 h-100 d-flex align-items-center justify-content-between"
                    data-bs-toggle="collapse"
                    href="#collapse3"
                    role="button"
                    aria-expanded="true"
                    aria-controls="collapse3"
                  >
                    <span>We're committed to public good research</span>
                    <span class="fas fa-chevron-down"></span>
                  </a>
                </div>
                <div class="collapse p-2 pt-0" id="collapse3">
                  <div class="">
                    <p class="mb-0">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Atque nihil neque quisquam aut repellendus, dicta vero?
                      Animi dicta cupiditate, facilis provident quibusdam ab quis,
                      iste harum ipsum hic, nemo qui!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="img-box">
              <img
                class=""
                src="https://images.pexels.com/photos/3277806/pexels-photo-3277806.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                alt=""
              />
              <div class="box-1"></div>
              <div class="box-2"></div>
              <div class="box-3"></div>
              <div class="box-4"></div>
              <div class="box-5"></div>
              <div class="box-6"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  