<div class="container">
    <div class="card">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">PiciHealth</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" routerLink="/employee">Employee</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Data Ownership</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="employee">Employee</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
            </ul>
            <form action="">
              <div class="btn btn-primary">
                <button class="btn btn-primary">Logout</button>
              </div>
            </form>
          </div>
        </div>
      </nav>
      <h1>Employees</h1>
      <table class="table">
        <thead>
          <tr>
            <th style="display: none;">Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>JoiningDate</th>
            <th>Phone</th>
            <th>Department</th>
            <th>Skill</th>
            <th>Education</th>
            <th>profile</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of employee">
            <td style="display: none;">{{item.id}}</td>
            <td>{{  item.name}}</td>
            <td>{{  item.email}}</td>
            <td>{{  item.joiningDate|date}}</td>
            <td>{{  item.phone}}</td>
            <td>{{  item.department}}</td>
            <td>{{  item.skill}}</td>
            <td>{{  item.education}}</td>
            <td>
              <div><img width="100px" height="100px" src="{{item.file}}" /></div>
            </td>
            <td>
              <button
                [routerLink]="['/employee/','edit',item.id]"
                class="buttonformat"
              >
                Edit
              </button>
            </td>
            <td>
              <button (click)="deleteEmp(item.id)" class="buttonformat">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="!employee || employee.length<=0">No Employees Found</p>
    </div>
  </div>
  